<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="xslt_DTE" value="C:\App_Files\xslt_DTE\default.xslt"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
 <system.serviceModel>

  <behaviors>

    <serviceBehaviors>

      <behavior name="ServiceBehavior">

        <serviceMetadata httpGetEnabled="true"/>

        <serviceDebug includeExceptionDetailInFaults="true"/>

      </behavior>

    </serviceBehaviors>

    <endpointBehaviors>

      <behavior name="EndpBehavior">

        <webHttp/>

      </behavior>

    </endpointBehaviors>

  </behaviors>

  <services>

    <service behaviorConfiguration="ServiceBehavior" name="ws_Factura.ServiceFactura">

      <endpoint address="" binding="webHttpBinding"

      contract="ws_Factura.IServiceFactura" behaviorConfiguration="EndpBehavior"/>

    </service>

  </services>

</system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <!--Conexion Base de datos-->
    <connectionStrings>
      <add name="MySqlProvider" connectionString="SERVER=localhost;PORT=3309;DATABASE=test;UID=root;PASSWORD=19047321k;SslMode=none;" />
    </connectionStrings>


</configuration>
