<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ws_OperacionesFactura.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="xslt_dte" value="C:\Componentes\xslt_dte\default.xslt"/>
    <add key="temp" value="C:\Componentes\temp\"/>
    <add key="Certificados" value="C:\Componentes\Certificados\"/>
    <add key="SeedSii"  value="https://maullin.sii.cl/DTEWS/CrSeed.jws"/><!--Certificacion-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <!--<system.serviceModel>
    <behaviors>

      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" defaultBodyStyle="Wrapped" automaticFormatSelectionEnabled="False" />
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      
      
      
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      
      <service  behaviorConfiguration ="servicebehavior">      
        <endpoint name ="SOAPEndPoint"
                contract ="ws_OperacionesFactura.ws_Sii"
                binding ="basicHttpBinding"
                address ="soap" />
      </service>
      
      <service behaviorConfiguration="ws_OperacionesFactura.ws_SiiAspNetAjaxBehavior"  >
        <endpoint address="json" behaviorConfiguration="ws_OperacionesFactura.ws_SiiAspNetAjaxBehavior"  binding="webHttpBinding" contract="ws_OperacionesFactura.ws_Sii" />
      </service>
      
    </services>
  </system.serviceModel>-->
  <system.serviceModel>
    <client />
    <behaviors>

      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" defaultBodyStyle="Wrapped" automaticFormatSelectionEnabled="False" />
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>

    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="soapService" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="jsonp" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <services>
      <service name="ws_OperacionesFactura.ws_Sii">
        <endpoint address="" behaviorConfiguration="restfulBehavior" binding="webHttpBinding" bindingConfiguration="jsonp" name="jsonService" contract="ws_OperacionesFactura.ws_Sii" />
        <endpoint address="soap" binding="basicHttpBinding" name="soapService" contract="ws_OperacionesFactura.ws_Sii" />
        <endpoint address="mex" binding="mexHttpBinding" name="metadata" contract="IMetadataExchange" />
      </service>
    </services>


  </system.serviceModel>

  <!--Conexion Base de datos-->
  <connectionStrings>
    <add name="MySqlProvider"
         connectionString="SERVER=localhost;PORT=3309;DATABASE=tyscom_factura;UID=root;PASSWORD=19047321k;SslMode=none;" />
  </connectionStrings>
  
  <applicationSettings>
    <ws_OperacionesFactura.Properties.Settings>
      <setting name="ws_OperacionesFactura_cl_sii_maullin_GetTokenFromSeedService"
        serializeAs="String">
        <value>https://maullin.sii.cl/DTEWS/GetTokenFromSeed.jws</value>
      </setting>
    </ws_OperacionesFactura.Properties.Settings>
  </applicationSettings>
</configuration>
